/godot-cpp/
/build/
/third_party/*
!/third_party/.gitkeep
.sconsign*.dblite
__pycache__/
*.pyc
*.o
*.os
*.obj
*.gch
*.pch
/demo/addons/spectator_stream_exporter/bin/
*.so
*.dll
*.dylib
*.lib
*.a
*.exp
*.ilk
*.pdb
*.framework/
*.dSYM/
.godot/
*.import
*.uid.tmp
export_presets.cfg
.vscode/
.idea/
.vs/
*.swp
*~
.DS_Store
Thumbs.db
compile_commands.json
.cache/
